.DS_Store
ch4/mnist/
mushroom.csv
bmi.csv
*.local
ch5/mnist/
ch6/2BEXXX01.txt
ch6/toji.model
ch6/toji.wakati
ch6/wiki.txt
ch6/wiki.wakati
ch7/image/
__pycache__
ch6/newstext/data*.json
ch6/wiki.model*
